---
site: CPSC 349 - Fall 2022 - Project 1
---


<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <title>{{ title }} - {{ site }}</title>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    </head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <link rel="stylesheet" href="./mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <h1>{{ title }} </h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/aboutUs/index.html">About Us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <header>
                <h2>Winter Landscapes</h2>
                <p>Beautiful photos of the snow that looks pretty cool</p>
            </header>
            <ul>
                {% for photo in Art.winterLandList.media -%}
                    <img src= {{ photo.src.tiny }} />
                {% endfor -%}
            </ul>

        </section>
    </main>
    <footer>
        <hr>
        <p>
            <small>
                <a href="https://www.pexels.com">Photos provided by Pexels</a>
            </small>
        </p>
    </footer>
</body>

</html>