---
site: CPSC 349 - Fall 2022 - Project 1
---


<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html lang="en">

<head>
    <head>
        <title>{{ title }} - {{ site }}</title>
        <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    </head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <link rel="stylesheet" href="./mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My title</title>
</head>

<body>
    <header>
        <h1>{{ title }} </h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/aboutUs/index.html">About Us</a></li>
                </li>
            </ul>
        </nav>
        <h1>Page Heading with <i>Italics</i> and <u>Underline</u></h1>
        <p>Page Subheading with <mark>highlighting</mark></p>
        <br>
        <p><a href="#"><i>Italic Link Button</i></a><a href="#"><b>Bold Link Button &rarr;</b></a></p>
    </header>
    <main>
        <hr>
        <section>
            <header>
                <h2>Section Heading</h2>
                <p>Section Subheading</p>
            </header>
            <aside>
                <h3>Card heading</h3>
                <p>Card content*</p>
                <p><small>*with small content</small></p>
            </aside>
            <aside>
                <h3>Card heading</h3>
                <p>Card content <sup>with notification</sup></p>
            </aside>
            <aside>
                <h3>Card heading</h3>
                <p>Card content</p>
            </aside>
        </section>
    </main>
    <footer>
        <hr>
        <p>
            <small>
                <a href="https://www.pexels.com">Photos provided by Pexels</a>
            </small>
        </p>
    </footer>
</body>

</html>